# Ignore local Azure TTS secrets
azure-tts.local.js
.github/instructions/*
.github/copilot-instructions.md
.github/prompts/promptsfile.prompt.md
.github/chatmodes/chatmodes.chatmode.md
node_modules
node_modules
node_modules
